*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #424853;
}

.login{
    width: 300px;
    margin: auto;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius:50px ;
    background-color:white ;
    text-align: center;
}
.login .li_alert{
    display: none;
}
.login a {
    color: black;
    text-decoration: none;
    display: block;
}
.login button:hover,a:hover{
    cursor: pointer;
}
.li_row img{
    width: 100%;
}
.li_row{
    background-color: #F6F6F6;
    padding: 20px;
}
.li_row+.li_row{
    background-color: white;
}
.login button{
    padding: 20px;
    background-color:#237E6B ;
    color:white;
    border: transparent;
    width: 299px;
}
.login .li_input{
    padding: 0 0 40px 0px;
}
.login input{
    padding: 14px;
    border: none;
}
 .login textarea:focus, input:focus{
border: none;
outline: none;

}