.ft_footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2C333F;
    color: white;
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 12px;
}
#footer{
    padding: 20px 76px;
    background-color: #2C333F;

}
.ft_footer{
    /* max-width: 1300px; */
    margin: auto;
    /* border: 1px solid; */
    /* margin-top: 100px; */
    /* padding: 56px; */
    
}
/* #footer ul>li>a{
    display: grid;
}  */

.ft_footer a{
    text-decoration: none;
}
.ft_footer li{
    list-style-type: none;
    margin: 16px 0px 16px;
}
.ft_logos{
    margin:44px 0px 44px 0px;
}
.ft_logo{
    max-width: 120px;
    aspect-ratio: 1;
    margin-right: 5px;
}
.ft_row {
    display: grid;
    grid-template-columns: 42% 58%;
    justify-content: space-evenly;
    padding: 20px;
    /* border: 1px solid red; */
}
.ft_footer .ft_row:last-child{
    display: flex;
    justify-content: space-between;
}
.ft_sec{
    display: flex;
    justify-content: space-between;
}
.ft_row+.ft_row{
    padding: 20px;
    border-top: 1px solid white;
}
.ft_footer img{
    padding: 4px;
}

.ft_container_child_4,.ft_container_child_3{
    line-height: 1.5rem;
    margin-top: 20px;
}

.ft_container_child_4 p:nth-child(3),p:nth-child(4),p:nth-child(5),a{
    margin-top: 10px;
    line-height: 1.5rem;
    position: relative;
    
}
.ft_container_child_4 p:nth-child(5) a {
    text-decoration: underline;
}
.ft_container_child_3 p:nth-child(2),p:last-child{
    margin-top: 10px;
    line-height: 1.5rem;
    position: relative;
}

.ft_footer .ft_row .ft_container_child_4 img,.ft_container_child_3 img{
    /* padding-top: 5px; */
    /* margin-top: 15px; */
    /* padding-bottom: 0px; */
    vertical-align: middle;
}

.ft_container_child_2 a{
    margin-left: 15px;
    padding: 15px;
    font-size: 2em;
}
.ft_container_child_1{
display: flex;
flex-direction: column;
gap: 10px;
/* font-size: larger; */
}
.ft_container_child_1 h2{
    font-size: 250%;
}
.ft_container_child_1 form{
display: flex;

}
.ft_container_child_1 input{
    background-color: white;
    padding: 10px;
    border: transparent;
    width: 60%;
    
    }
    .ft_container_child_1 button{
        border: none;
        background-color: white;
        color: black;
        font-size: 25px;
        padding: 0 10px;
    }

@media  (max-width: 1200px) {
    .ft_footer{
        display: flex;
        flex-direction: column;
    }
    .ft_row {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
        /* border: 1px solid red; */
    }
}