<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <header>
        <div class="navbar">

            <div class="nv_items">

                <img src="https://www.hellobrightline.com/assets/brightline-logo.svg" alt="">

            </div>

            <div class="nv_items">

                <ul>
                    <li class="nv_item" data-action='dropdown-toggle'>How It Works
                        <div class="dropdown">
                            <div>
                                <h1>How It Works</h1>
                                <p>Access behavioral health support <br> designed to help kids, teens, and <br> their families thrive.</p>
                            </div>
                            <div>
                                <ul>
                                    <li><a href="../How it works/experience.html">The Brightline Experience</a> </li>
                                    <li><a href="..//How it works/approach.html">Our Approach</a> </li>
                                    <li><a href="../How it works/resarch.html">Our Resarch</a></li>
                                    <li><a href="../How it works/aboutus.html">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nv_item">Employers & Plans
                        <div class="dropdown">
                            <div>
                                <h1>Employers & <br> Plans</h1>
                                <p>Bring extraordinary behavioral <br> health care to families, when and <br> where they need it.</p>
                            </div>
                            <div>
                                <ul>
                                    <li><a href="../employers & plans/emp.html">For Employers</a></li>
                                    <li><a href="../employers & plans/hP.html">For Health Plans</a></li>
                                    <li><a href="../employers & plans/cons.html">For Consultants</a></li>
                                    <li><a href="../employers & plans/Re.html">Resources</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nv_item">For Families
                        <div class="dropdown">
                            <div>
                                <h1>For Families</h1>
                                <p>Get support for the tough stuff <br> and help your child thrive, right <br> from home.</p>
                            </div>
                            <div>
                                <ul>
                                    <li>Membership</li>
                                    <li>Pricing</li>
                                    <li>Coaching</li>
                                    <li>Care</li>
                                    <li>FAQ</li>
                                    <li>Blog</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nv_item">Careers
                        <div class="dropdown">
                            <div>
                                <h1>Careers</h1>
                                <p>Be part of transforming behavioral <br> health care for families across <br> the country.</p>
                            </div>
                            <div>
                                <ul>
                                    <li><a href="../carriers_page/opportunities.html">Opportunities</a></li>
                                    <li><a href="..//care_team/care_team.html">Care Team</a></li>
                                    <li><a href="..//tech_hiring/tech.html">Tech Hiring</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                
            </div>

            <div class="nv_items">
                <button> <a href="../Login/login.html"> Log in</a></button>
                <button> <a href="..//Login/signup.html">Sign up</a></button>
                
            </div>
            <a href="#" id="hamburger" class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
        </div>
    </header>
</body>
</html>
<script src="navbar.js"></script>