
html{
  font-size: 100%;
}
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  #container{
      /* border: 1px solid red; */
      /* height: 600px; */
      display: grid;
      grid-template-columns: repeat(2,1fr);
      
      
  }
  #container>div>img{
      /* display: flex; */
      /* border: 1px solid black; */
      /* height: 400px; */
      width: 100%
  }
  #container>div h1{
      font-size: 56px;
      font-family: gabriela;
      font-weight: lighter;
      /* width: 59%; */
      /* margin: auto; */

  }
  strong{
      color: #267e6b;
      text-decoration:underline   rgb(200, 230, 2);
      text-decoration-thickness:2px 
      
  }#container>div p{
      font-size: 23px;
/* width: 92%; */
margin-top: 29px;
margin-right: 81px;
  }
  #container>div{
      text-align: center;
      /* margin: auto; */
  }
  .left_div{
      display: flex;
      /* border: 1px solid red; */
      height: 300px;
      margin-top: 250px;
  
  } .left_div>div>button{
      margin-top: 5%;
padding: 14px 10px;
border-radius: 20px;
margin-right: 67%;
background-color:  #267e6b;border: transparent;
color: white;
}
.left_div>div>button:hover{
  background-color: rgb(42, 85, 80);
}
/* #virtual{
border: 1px solid;
} */
#virtual>h1{
text-align: center;
font-size: 40px;
margin-top:80px ;
margin-bottom: 20px;
font-weight: lighter;
}
#virtual p{
text-align: center;
font: 18px;
}
 #gif_div{

  display: grid;
  grid-template-columns: repeat(2,1fr);
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
 }

 /* #gif_div>div{
  border: 2px solid red;
 } */

 #gif_div img{
  width: 80%;
  text-align: center;
 }

 #gif_div p{
  text-align: center;
 }
.right_img{
  width: 80%;
}
.right_img>button{
  padding: 14px 10px;
     margin-top: 12%;
margin-right: 58%;
border-radius: 34px;
background-color:  #267e6b;border: transparent;
color: white;
}
.right_img>button:hover{
  background-color: rgb(42, 85, 80);
}
#employees p{
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  margin-top: 15px;
}
#employees h1{
  text-align: center;
  
  margin-top: 15px;
  font-weight: light;
}
#employees h4{
  text-align: center;
  
  margin-top: 15px;
  font-weight: lighter;
}

#employees1{
  /* border: 1px solid red; */
  /* height: 500px; */
  margin-top: 30px;
  display: flex;
  /* padding: 20%; */
}
#employees1>div{
  /* border: 1px solid green; */
  width: 50%;
}
.ldiv{
    /* border: 1px solid; */
    padding: 25px;
    margin-left: 12%;
margin-bottom: 10px;
}
.employeimg img{
  width: 100%;
}
.ldiv>button{
  padding: 18px 28px;
  border-color: #267e6b;
  border-radius: 25px;
  color:#267e6b;
  margin-top: 25px;
}
.ldiv>button:hover{
  background-color :#267e6b;
  color: white;
}
.ldiv h1{
  color: #267e6b;
  
  /* height: 20px; */
}
#brightline{
  margin-top: 90px;
  text-align: center;
  /* border: 1px solid; */
}
#brightline h1{
  margin-bottom: 10px;
}
#brightline1{
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 50px;
}
#brightline1 img{
  width: 100%;
  text-align: center;
}
/* #brightline1>div{
  /* border: 1px solid red; */

#rightd{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* margin: auto; */
  text-align: center;
  gap: 10px;
  padding: 10px;
  
  
}
/* #rightd>div{
  border: 1px solid;
  
} */
#rightd h1{
  font-weight: lighter;
}
#rightd>div img{
  width: 15%;
  text-align: center;
}
.lmbutton >button{
  padding: 18px 28px;
  border-color: #267e6b;
  border-radius: 25px;
  color:#267e6b;}
  .lmbutton button:hover{
  background-color :#267e6b;
  color: white;
}
.lmbutton{
  text-align: center;
  padding: 20px;
  width: 100%;
margin-left: 52%;
}
.owl-carousel {
  /* border: 5px solid green; */
  margin: auto;
  margin-top: 20px;
}
.Carasol{
  text-align: center;
  margin-top: 110px;
  margin-bottom: 50px;
  font-size:40px;
  font-weight: lighter;
  color: rgb(71, 70, 70);
}
#brightlineo{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 70%;
  /* border: 1px solid; */
  margin: auto;
  margin-bottom: 20px;
}
#video{
  /* border: 1px solid red; */
  width: 100%;
  /* height: 500px; */
  text-align: center;
  background-color: #deebe9;
  padding: 20px;
  margin-bottom: 5%;
  margin-top: 5%;
  }
  #ooo {
  
  top: 0;
  width: 100%;
  height: 100%;}
  #Vdo
  {
  /* border: 1px solid; */
  width: 80%;
  margin: auto;
  height: 500px;
  margin-top: 3%;
  
  }
  #video p{
  margin-top: 2%;
  }
  #video h1{
  font-weight: light;
  font-size: 40px;
  }
#brightlineo>div img{
  width: 100%;
}
.brightline2>div h1{
  margin-right: 53%;
margin-top: 30%;

}
.brightline2
{padding: 11px;
background-color: #fff3ce;}
.pt{
  /* margin-right: 36%; */
margin-top: 4px;
}
.ptbutton{
margin-top: 20px;
margin-right:10px ;
padding: 18px 28px;
  border-color: #267e6b;
  border-radius: 25px;
  color:#267e6b;
  border: 1px solid #267e6b;
}
.ptbutton:hover{
  background-color :#267e6b;
  color: white;}
  .learn{
    font-size: 40px;
  }
  #learnabout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid ; */
    margin-top: 20px;
  }
  #outerdiv{
    /* border: 1px solid red; */
    width: 85%;
    margin: auto;
    margin-top: 90px;
  }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    #learnabout{
   
    grid-template-columns: repeat(1,1fr);
  }
  #brightlineo{
  grid-template-columns: repeat(1,1fr);
}
#rightd{
  grid-template-columns: repeat(1,1fr);
 }
 #brightline1{
 
  grid-template-columns: repeat(1,1fr);
}
#gif_div{

grid-template-columns: repeat(1,1fr);

}
#container{
     
      grid-template-columns: repeat(1,1fr);
  }
  .lmbutton{
    margin-left: 1%;
  }
  }
  @media all and (min-width: 320px) and (max-width: 767px) {
    html{
  font-size: 60%;
 
}
.left_div{
  margin-top:10px ;
}
    #learnabout{
   
   grid-template-columns: repeat(1,1fr);
 }
 #brightlineo{
 grid-template-columns: repeat(1,1fr);
}
#rightd{
 grid-template-columns: repeat(1,1fr);
}
#brightline1{

 grid-template-columns: repeat(1,1fr);
}
#gif_div{

grid-template-columns: repeat(1,1fr);

}
#container{
    
     grid-template-columns: repeat(1,1fr);
 }
 .lmbutton{
   margin-left: 1%;
 }
  }
